body{
    padding-left: 0px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    font-family: Arial;
}
[v-cloak]>*{
display:none;
}
[v-cloak]{
    content:"";
    width:100px;
    height: 100px;
   position: absolute;
   top:50% ;
   left:50%;
   margin-top: -50px;
   margin-left: -50px;
    background-image: url("../asset/Myload.gif") ;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.skills{
    display: flex;
    justify-content: space-around;
}
.skillsdown{
    opacity: 100%;

   
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #dbdbdb;
    -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.48);
    -moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.48);
    box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.48);
    background: rgba(254,182,69,1);
    background: -moz-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,182,69,1)), color-stop(100%, rgba(240,202,125,1)));
    background: -webkit-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    background: -o-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    background: -ms-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    background: linear-gradient(to right, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb645', endColorstr='#f0ca7d', GradientType=1 );
   
}
.skillsdown:hover{
    opacity: 100%;
    
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #dbdbdb;
    -webkit-box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.10);
    -moz-box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.10);
    box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.10);
    background: rgba(254,182,69,1);
    background: -moz-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,182,69,1)), color-stop(100%, rgba(240,202,125,1)));
    background: -webkit-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    background: -o-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    background: -ms-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    background: linear-gradient(to right, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb645', endColorstr='#f0ca7d', GradientType=1 );
   
}
.refprof{
    
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    border: 0px solid #000000;

}
.whitebox{
   
    opacity: 70%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #dbdbdb;
    -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.48);
    -moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.48);
    box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.48);
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
   
}
.whitebox:hover{
    
    opacity: 100%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #dbdbdb;
    -webkit-box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.10);
    -moz-box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.10);
    box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.10);
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
   
}
img{
    display:block;
    margin:auto;
    }
.nombre{
   text-align: center;
    
    }
    .titulo{
        padding-left: 20px;
        text-shadow: 3px 3px 2px rgba(23, 23, 24, 0.5);
        padding-bottom: 10px;
    }
    .subtitulo{
        font-size: 16px;
        padding-left: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
        
    }
    .iconos-skills{
     
        display: flex;
        justify-content:space-around;
        align-items: center;
        flex-wrap:wrap
        
       
      
        
    }
    .items{
        padding-top: 10px;
        text-align: center;
    }
    .itemsleft{
        padding-top: 0px;
        padding-left: 10px;
        text-align: left ;
    }
    .panel{
        
        padding: 0px 0px 0px 0px;
        background-color: darkgray;
        margin-left: -30px;
        width: calc(100% + 60px);

    }
    .links{
       display: flex;
       justify-content: flex-end;
       align-items: right;
    }
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0px;
        
       
    }
    .icon{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
       
        padding-bottom: 0px;
        
       
    }
    .nameheader{
      
        padding-top: 0px;
       
        
        
    }
    .git{
        
       padding-top: 10px;
       
    }
    .footer{
      
        height: 100px;
      
        background-color: #DADEE1;
        padding-top: 20px;
     

        
       
       
    }
    .footer strong{
        text-shadow: 2px 2px 2px rgba(0,0,0,0.60);
        color: #B6B6B6;
    }
    .footer p{
        color: white;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.60);
        text-align:right;
    }
   .arrow{
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
       position: relative;
        padding-top: 0px;
        padding-bottom: 0px;
       
       
       
        
    }
    .leftArrow{
        
        justify-items: left;
        font-size: 16px;
        
        color: gray;
    }
    .rightArrow{
        justify-items: right;
        font-size: 16px;
        color: gray;
    }
    .leftArrow:hover{
        justify-items: left;
        font-size: 18px;
        
        color: gray;
    }
    .rightArrow:hover{
        justify-items: right;
        font-size: 18px;
        align-content: center;
        color: gray;
    }
    .routes{
        font-size: 16px;
        font-family: Arial;
        font-style: italic;
        color: gray;
        background-color: white;
        -webkit-box-shadow: 2px 2px 1px 0px rgba(224,217,224,1);
        -moz-box-shadow: 2px 2px 1px 0px rgba(224,217,224,1);
        box-shadow: 2px 2px 1px 0px rgba(224,217,224,1);
        
        

    }
    
    .routes nav a{
        font-size: 16px;
        font-family: Arial;
        font-style: italic;
        color: gray;
    }
    .routes nav a:hover{
        font-size: 16px;
        font-family: Arial;
        font-style: italic;
        color: gray;
    }
    .arrow img{
        width: 35px;
        height: 35px;
    }
    .arrow img:hover{
        width: 42px;
        height: 42px;
    }