html,body{
    margin: 0;
    padding: 0;
    padding-left: 0px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    font-family: Arial;
    box-sizing: border-box;
}
[v-cloak]>*{
display:none;
}
[v-cloak]{
    content:"";
    width:100px;
    height: 100px;
   position: absolute;
   top:50% ;
   left:50%;
   margin-top: -50px;
   margin-left: -50px;
    background-image: url("../asset/myspinner.gif") ;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.skills{
    display: flex;
    justify-content: space-around;
}
.skillsdown{
    opacity: 100%;

   
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #dbdbdb;
    -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.48);
    -moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.48);
    box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.48);
    background: rgba(254,182,69,1);
    background: -moz-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,182,69,1)), color-stop(100%, rgba(240,202,125,1)));
    background: -webkit-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    background: -o-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    background: -ms-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    background: linear-gradient(to right, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb645', endColorstr='#f0ca7d', GradientType=1 );
   
}
.skillsdown:hover{
    opacity: 100%;
    
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #dbdbdb;
    -webkit-box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.10);
    -moz-box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.10);
    box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.10);
    background: rgba(254,182,69,1);
    background: -moz-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,182,69,1)), color-stop(100%, rgba(240,202,125,1)));
    background: -webkit-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    background: -o-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    background: -ms-linear-gradient(left, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    background: linear-gradient(to right, rgba(254,182,69,1) 0%, rgba(240,202,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb645', endColorstr='#f0ca7d', GradientType=1 );
   
}
.refprof{
    
    border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -webkit-border-radius: 18px 18px 18px 18px;
    border: 0px solid #000000;

}
.whitebox{
   
    opacity: 70%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #dbdbdb;
    -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.48);
    -moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.48);
    box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.48);
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
   
}
.whitebox:hover{
    
    opacity: 100%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #dbdbdb;
    -webkit-box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.10);
    -moz-box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.10);
    box-shadow: 3px 3px 3px -2px rgba(0,0,0,0.10);
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
   
}
img{
    display:block;
    margin:auto;
    }
.nombre{
   text-align: center;
    
    }
    .titulo{
        padding-left: 20px;
        text-shadow: 3px 3px 2px rgba(23, 23, 24, 0.5);
        padding-bottom: 10px;
    }
    .subtitulo{
        font-size: 16px;
        padding-left: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
        
    }
    .iconos-skills{
     
        display: flex;
        justify-content:space-around;
        align-items: center;
        flex-wrap:wrap
        
       
      
        
    }
    .items{
        padding-top: 10px;
        text-align: center;
    }
    .itemsleft{
        padding-top: 0px;
        padding-left: 10px;
        text-align: left ;
    }
    .panel{
        
        padding: 0px 0px 0px 0px;
        background-color: darkgray;
        margin-left: -30px;
        width: calc(100% + 60px);

    }
    .links{
       display: flex;
       justify-content: flex-end;
       align-items: right;
    }
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0px;
        
       
    }
    .icon{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
       
        padding-bottom: 0px;
        
       
    }
    .nameheader{
      
        padding-top: 0px;
        font-size: 15px;
       
        
        
    }
    .git{
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        top: 0;
        right: 30%;
       padding-top: 5px;
       
    }
    .git img{
        padding-bottom: 5px;

    }
    .footer{
      
        height: 100px;
      
        background-color: #DADEE1;
        padding-top: 20px;
     

        
       
       
    }
    .footer strong{
        text-shadow: 2px 2px 2px rgba(0,0,0,0.60);
        color: #B6B6B6;
    }
    .footer p{
        color: white;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.60);
        text-align:right;
    }
   .arrow{
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
       position: relative;
        padding-top: 0px;
        padding-bottom: 0px;
       
       
       
        
    }
    .leftArrow{
        
        justify-items: left;
        font-size: 16px;
        
        color: gray;
    }
    .rightArrow{
        justify-items: right;
        font-size: 16px;
        color: gray;
    }
    .leftArrow:hover{
        justify-items: left;
        font-size: 18px;
        
        color: gray;
    }
    .rightArrow:hover{
        justify-items: right;
        font-size: 18px;
        align-content: center;
        color: gray;
    }
    .routes{
        font-size: 16px;
        font-family: Arial;
        font-style: italic;
        color: gray;
        background-color: white;
        -webkit-box-shadow: 2px 2px 1px 0px rgba(224,217,224,1);
        -moz-box-shadow: 2px 2px 1px 0px rgba(224,217,224,1);
        box-shadow: 2px 2px 1px 0px rgba(224,217,224,1);
        
        

    }
    
    .routes nav a{
        font-size: 16px;
        font-family: Arial;
        font-style: italic;
        color: gray;
    }
    .routes nav a:hover{
        font-size: 16px;
        font-family: Arial;
        font-style: italic;
        color: gray;
    }
    .arrow img{
        width: 35px;
        height: 35px;
    }
    .arrow img:hover{
        width: 42px;
        height: 42px;
    }
    .fotoCard{
        width: 150px;
        height: 150px;
        border-radius: 50%;
      
        border-right: 8px solid rgba(48, 161, 121, 1);  
        border-bottom: 8px solid rgba(48, 161, 121, 1);
      


    }
    .fotoCardSmall{
        width: 80px;
        height: 80px;
        border-radius: 50%;
      
        border-right: 8px solid rgba(48, 161, 121, 1);  
        border-bottom: 8px solid rgba(48, 161, 121, 1);
      


    }
    .lista{
       
        position: absolute;
       
        top:0;
        right: 8%;
    }

    .lista li{
        color: green;
    }
   .lista ul li a{
        text-decoration: none;
        color: black;
    }
    ul {
        list-style-type: none;
       
      }
    
      .lista li {
        color:black;
        /* You need to turn on relative positioning so the line is placed relative to the item rather than absolutely on the page */
        position: relative;
        /* Use padding to space things out rather than margins as the line would get broken up otherwise */
        margin: 0;
        padding-bottom: 1em;
        padding-left: 20px;
        list-style: none;
      }
      .lista   li a{
        color:black;
        text-decoration: none;
        font-size: 13px;
      }
      .lista   li a:active{
        color:green;
        text-decoration: none;
      }
      .lista   li a:hover{
        color:green;
        text-decoration: none;
      }
      /* The actual line being placed before each list item, tweak width and color as appropriate */
      .lista li:before {
        background-color:rgba(48, 161, 121, 1);
        width: 2px;
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 5px;
      }
    
      /* Small bullets for normal list items */
      .lista li::after {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3Ccircle stroke='none' fill='%2330A179' cx='16' cy='16' r='10'%3E%3C/circle%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
        left: 0;
        top: 2px;
        width: 12px;
        height: 12px;
      }
    
      /* Large bullet for the first list item */
      .lista li:first-child::after {
        content: '';
        width: 16px;
        height: 16px;
        left: -2px;
        top: 8px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3Cpath d='M16 4c6.6 0 12 5.4 12 12s-5.4 12-12 12S4 22.6 4 16 9.4 4 16 4zm0-4C7.2 0 0 7.2 0 16s7.2 16 16 16 16-7.2 16-16S24.8 0 16 0z' fill='%2330A179'%3E%3C/path%3E%3Ccircle fill='%2330A179' cx='16' cy='16' r='6'%3E%3C/circle%3E%3C/svg%3E");
      }
    
      /* Start the line further down on the first list item */
      .lista li:first-child:before { top: 15px;  }
    
      /* Stop the line short on the final list item */
      .lista li:last-child:before { height: 6px; }
      .ruta{
       
         font-weight: bold;
      
          
      }

    @media(min-width:501px) and (max-width:600px){
       
        .nameheader{
      
            padding-top: 0px;
            font-size: 12px;
           
            
            
        }
        
        

    }
    @media(max-width:500px){
        .nameheader{
      
            padding-top: 0px;
            font-size: 12px;
           
            
            
        }
        .git{
            top: 0;
            right: 40%;
       
           
        }
    }